body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: #98b1a5;
    font-family: sans-serif;
    font-size: 58px;
    color: rgb(0, 0, 0);
    height: 210px;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    margin-top: -80px;
}

.header-schrift {
    font-size: 26px;
    font-family: sans-serif;
    margin-top: -90px;

}

main {
    font-family: sans-serif;


}

